body {background-image: url(R1.png);
      background-size: cover;
      background-repeat: no-repeat;
}
h1   {
    color:blue;
}
p    {
    color:green;
}
.container{
    background-color: white;
    opacity: 0.7;
}