body {background-image: url(R1.png);
      background-size: cover;
      background-repeat: no-repeat;
        padding-top: 200px;
}
h1   {
    color:blue;
}
p    {

}
#heading {
}

.container{
    padding:15px 0 15px 0 ;
    background-color: white;
    opacity: 0.8;

}